<!-- Footer -->
<footer class="footer text-white py-5">
    <div class="container-fluid">
        <div class="row align-items-start">
            <!-- Логотип -->
            <div class="col-12 col-md-3 col-lg-2 text-center mb-4 mb-md-0">
                <a href="@Url.Action("Index", "Home")" class="footer-logo-container">
                    <img src="@Url.Content("~/images/logo.png")" alt="inMarket Map" class="footer-logo">
                </a>
            </div>

            <!-- Блоки категорій -->
            <div class="col-12 col-md-8 col-lg-9">
                <div class="row g-4">
                   
                    
                    <!-- Про нас -->
                    <div class="col-6 col-lg-2">
                        <div class="category-title">Про нас</div>
                        <div class="d-flex flex-column">
                            <a asp-controller="StaticPages" asp-action="About" class="category-link">Що таке MarketMap</a>
                            <a asp-controller="StaticPages" asp-action="About" class="category-link">Як ми працюємо</a>
                            <a asp-controller="StaticPages" asp-action="About" class="category-link">Партнери</a>
                        </div>
                    </div>
                    
                   
                    
                    <!-- Контакти -->
                    <div class="col-6 col-lg-2">
                        <div class="category-title">Контакти</div>
                        <div class="d-flex flex-column">
                            <a asp-controller="StaticPages" asp-action="ContactUs" class="category-link">Зв'язатися з нами</a>
                            <a asp-controller="StaticPages" asp-action="ContactUs" class="category-link">Карта сайту</a>
                            <a asp-controller="SellerRequest" asp-action="Index" class="category-link">Продавцям</a>
                        </div>
                    </div>
                    
                    <!-- Правова інформація -->
                    <div class="col-6 col-lg-2">
                        <div class="category-title">Правова інформація</div>
                        <div class="d-flex flex-column">
                            <a asp-controller="StaticPages" asp-action="TermsOfUse" class="category-link">Політика конфіденційності</a>
                            <a asp-controller="StaticPages" asp-action="TermsOfUse" class="category-link">Умови використання</a>
                        </div>
                    </div>
                    
                    <!-- Соціальні мережі -->
                    <div class="col-6 col-lg-2">
                        <div class="category-title">Соціальні мережі</div>
                        <div class="d-flex flex-column">
                            <a href="#" class="category-link">Instagram</a>
                            <a href="#" class="category-link">Facebook</a>
                            <a href="#" class="category-link">YouTube</a>
                            <a href="#" class="category-link">Telegram</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Додатковий блок -->
            <div class="col-12 col-md-10 col-lg-1 text-center mt-4 mt-lg-0 position-relative">
                <div class="additional-box position-absolute top-0 end-0">
                    <div class="arrow-icon">↑</div>
                    <a href="#top" class="additional-link">Наверх</a>
                </div>
            </div>
        </div>
    </div>
</footer>